:root {
    --crab-primary: #20c997;
    --crab-primary-dark: #179d77;
    --crab-primary-light: #4ce3b5;
  
    --crab-secondary: #6f42c1;
    --crab-secondary-dark: #5633a4;
  
    --crab-danger: #dc3545;
    --crab-warning: #ffc107;
    --crab-info: #0dcaf0;
  }
  
  .navbar-crabfarm {
    background-color: #161b22;
  }
  
  .navbar-brand,
  .nav-link {
    color: #e6edf3 !important;
  }
  
  .navbar-brand:hover{
    color: var(--crab-primary) !important;
  }

  .nav-link:hover {
    color: var(--crab-primary) !important;
  }
  
  /* Button overrides */
  .btn-info {
    background-color: var(--crab-secondary) !important;
    border-color: var(--crab-secondary) !important;
    color: #fff !important;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
  
  .btn-info:hover {
    background-color: var(--crab-secondary-dark) !important;
    border-color: var(--crab-secondary-dark) !important;
  }
  