body {
  font-family: 'Sansation', sans-serif;
}

/*For Navigation*/
.navbar-brand,
.nav-link {
  color: #fff !important;
}

.navbar-crabfarm {
  background-color: #004aad;
}

/*For login*/
.login-section {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 74, 173, 0.7), rgba(0, 74, 173, 0.7)),
    url('../images/herobg.webp') center/cover no-repeat;
  padding: 40px 20px;
}

/* Card design */
.login-card {
  max-width: 420px;
  width: 100%;
  background: #fff;
  border: none;
}

/* Form controls */
.login-card .form-control {
  border-radius: 12px;
  border: 1px solid #ddd;
}

.login-card .btn-info {
  font-size: 1rem;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.login-card .btn-info:hover {
  background-color: #007bff;
}

/*For footer*/
footer {
  background: #004aad;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}