:root {
  --crab-primary: #20c997;
  --crab-primary-dark: #179d77;
  --crab-primary-light: #4ce3b5;

  --crab-secondary: #6f42c1;
  --crab-secondary-dark: #5633a4;
  --crab-secondary-light: #8e65d4;
}

body {
  font-family: 'Sansation', sans-serif;
}

/*For Navigation*/
.navbar-brand,
.nav-link {
  color: #fff !important;
}

.navbar-crabfarm {
  background-color: var(--crab-primary-dark);
}

/*For Hero*/
.hero {
  background: linear-gradient(rgba(32, 201, 150, 0.51), rgba(32, 201, 150, 0.416)),
    url("/static/images/herobg.webp") center/cover no-repeat;
  color: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
  font-weight: 700;

  white-space: nowrap; /* keep in one line */ 
  overflow: hidden; /* hide the text until animated */
  border-right: 3px solid var(--crab-primary); /* blinking cursor */
  width: 0;   /* start with 0 width */
  animation: typing 3s steps(30, end) forwards, blink 0.75s step-end infinite;
}

/* Typing animation */
@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

/* Cursor blink */
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.hero p {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

.btn-primary {
  background-color: var(--crab-secondary);
  border-color: var(--crab-secondary);
}

.btn-primary:hover {
  background-color: var(--crab-secondary-dark);
  border-color: var(--crab-secondary-dark);
}

.icon-img {
  width: 60px;
  height: 60px;
}

.features .icon {
  font-size: 3rem;
  color: var(--crab-primary);
}

/*For footer*/
footer {
  background: var(--crab-primary-dark);
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}
