   <!-- Navigation -->
   <nav class="navbar navbar-expand-lg navbar-crabfarm">
    <div class="container">
      <a class="navbar-brand fw-bold" href="{{ url_for('home') }}">CrabFarm</a>
      <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav ms-auto">
          <a class="nav-link active" href="{{ url_for('home') }}">Home</a>
          <a class="nav-link" href="{{ url_for('about') }}">About</a>
          <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
          <a class="nav-link" href="{{ url_for('demo') }}">Demo</a>
          <a href="/auth/login.html" class="btn btn-outline-light ms-lg-2">Login</a>
          <a href="/auth/signup.html" class="btn btn-info text-white ms-lg-2">Sign Up</a>
        </div>
      </div>
    </div>
  </nav>